<div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 justify-center items-center">
        <!-- Sidebar content here -->
        {%include 'userDashboard/components/profilePictureSection.html'%}
        <li class="mt-5 font-title text-4xl font-black">David</li>
        <li class="text-xl font-black">Bosset</li>

        <button class="btn w-full mt-5 btn-warning">Logout</button>
      </ul>
    </div>
  </div>