<form method="POST" class="px-10 gap-7">
    <!-- Email -->
<label class="input input-bordered flex items-center gap-20 mb-3">
    <span class="text-gray-300">Email&emsp;&emsp;</span>
    <input required type="email" class="form-control" id="email" name="email" placeholder="Enter Email"/>
</label>

<!-- First Name -->
<label class="input input-bordered flex items-center gap-20 mb-3">
     <span class="text-gray-300">First Name</span>
     <input required type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name"/>
</label>

<!-- Last Name -->
<label class="input input-bordered flex items-center gap-20 mb-3">
    <span class="text-gray-300">Last Name</span>
    <input required type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name"/>
</label>


<!-- Password 1 -->
<label class="input input-bordered flex items-center gap-16 mb-3">
    <span class="text-gray-300">Password &emsp;</span>
    <input required type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password"/>
</label>

<!-- Password 1 -->
<label class="input input-bordered flex items-center gap-7 mb-3">
    <span class="text-gray-300">Confirm Password</span>
    <input required type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password"/>
</label>


<div class="flex items-center mb-4">
    <input required id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100" >
    <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree to the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
</div>
    <button type="submit" class="btn my-4 w-full mx-auto border border-blue-700 text-blue-600 hover:bg-blue-600 hover:text-white bg-white">Submit</button>
</form>









  
