<!DOCTYPE html >
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/app.js"></script>
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<style>
    .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

</style>
<body class="roboto-regular bg-neutral-100">
    {%include 'homepage/components/header.html'%}
    {%include 'homepage/components/overviewSection.html'%}
    {%include 'homepage/components/cookieMessage.html'%}

    <div class="h-24">

    </div>

    {%include 'homepage/components/searchSection.html'%}
    <div class="h-48">

    </div>
    {%include 'homepage/components/resisterToday.html'%}
   
    {%include 'homepage/components/customerReviews.html'%}
    {%include 'homepage/components/footer.html'%}
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</body>
</html>
