{% extends "base.html" %} 
{% block title %}
Login to HealthSync
{% endblock %} 

{%block content %}
<form method="POST">
    <h3 align="center">Add Doctor to Health Sync Profile</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email of Doctor"/>
    </div> 
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name of Doctor"/>
    </div> 
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name of Doctor"/>
    </div>  
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
