.appearFromBottom{
    opacity: 0;
    animation: appearFromBottomAnimation 1s forwards;
    animation-delay: 1s;
}
@keyframes appearFromBottomAnimation {
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
        opacity: 100;
        transform: translateY(0px);
    }
}

.appear{
    opacity: 0;
    animation: appearAnimation 1s forwards;
}

@keyframes appearAnimation{
    from{
        transform: translateY(2000px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }
}