<div class="text-center py-10">
  <div class="mx-auto">
    <h1 class="text-5xl font-bold font-title font-black">Create An Account!</h1>
    <p class="py-6">Create an account in quick easy steps to avial the best of health sync</p>
    <div>
      <a class="btn group"  href="{{ url_for('auth.sign_up_doctor') }}">
        <img class="w-12 group-hover:scale-[1.75] group-hover:rotate-[25deg] transition duration-400" src="https://www.svgrepo.com/show/384579/doctor-health-healthcare-hospital-medical-stethoscope.svg" alt="">
        <span>Register As A Doctor</span>
      </a>
        <a class="btn group"  href="{{ url_for('auth.sign_up') }}">
          <img class="w-12 group-hover:scale-[1.75] group-hover:rotate-[25deg] transition duration-400" src="https://www.svgrepo.com/show/384576/doctor-health-injection-medical-medicine-pharmacy.svg" alt="">
          <span>Register As A Patient</span>
        </a>
    </div>
  </div>
</div>
