
{%for d in data %}
<li>
  <a href="">
    <div class="flex gap-3 content-center justify-center overflow-hidden">
      <figure><img class="w-12 rounded-lg" src="https://www.svgrepo.com/show/192362/doctor.svg" alt="Album"/></figure>
      <div class="">
        <p class="font-bold text-lg">{{d[1]}}</p>
        <div class="flex justify-between">
          <p class="">Location:<strong>{{d[2]}}</strong></p>&emsp;&emsp;
          <p class="">Specialty:<strong>{{d[3]}}</strong></p>
        </div>
      </div>
    </div>
  </a>
</li>
{%endfor%}


